.build
*.dll.temp.*
dist/*.pdb
*.srcdeps
*.exp
modules/Game_Sound/lib/win/Game_Sound.dll
modules/Game_Sound/lib/win/Game_Sound.lib
modules/Game_Sound/lib/win/Game_Sound.pdb
dist/app_peel_basic.dll
dist/app_peel_basic.lib
dist/peel.exe
*.dSYM
dist/app_peel_basic.dylib
dist/peel
modules/Game_Sound/lib/macos/Game_Sound.dylib
.DS_Store
*.xcuserdatad/
dist/app_*.dylib
dist/*.dylib.temp.*
*.air
.generated_shaders
dist/app_peel_surprise
dist/app_peel_boids
dist/boids
dist/boids.dylib
dist/particles
