[submodule "modules/sgpu"]
	path = modules/sgpu
	url = git@github.com:kevinw/sgpu.git
[submodule "modules/Jai-Shader-Transpiler"]
	path = modules/Jai-Shader-Transpiler
	url = git@github.com:kevinw/Jai-Shader-Transpiler.git
[submodule "modules/ImGui/src/imgui"]
	path = modules/ImGui/src/imgui
	url = git@github.com:kevinw/imgui.git
	branch = master
[submodule "modules/tracy"]
	path = modules/tracy
	url = git@github.com:kevinw/jai-tracy.git
	branch = master
[submodule "tools/blender"]
	path = tools/blender
	url = ssh://git@codeberg.org/kevinw/blender.git
	branch = blender-v5.1-release
